<template>
  <footer id="footer">
    <div class="footerSection">
      <section class="sectionLeft"><p>lol</p></section>
      <section class="sectionMiddle">test</section>
      <section class="sectionRight">test</section>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
#footer {
  height: 100%;
  width: 100%;
  border-top: 1px solid $footerBorder;
  background-color: $footerColor;
}
.footerSection {
  width: 100%;
  text-align: center;
  & section{
    padding: 15px 10px;
    width: 300px;
    display: inline-block;
    margin: 0 20px;
 
  }    & .sectionMiddle{
      border-left: 1px solid grey;
      border-right: 1px solid grey;
    }
}

p {
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: grey;
}
</style>