<template>
  <div id="homepage">
    <div class="content">
<img src="@/assets/img/vakantie-Cyprus.jpg" alt class="roundImg" />
      <div class="text" v-for="header in dummy.headers" v-bind:key="header.id">
        <h1 class="text-header">{{header.title}}</h1>
        <p class="text-paragraph">{{ header.text }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import HomepageDummy from "@/dummy-data/Homepage-text";

export default {
  data: function() {
    return {
      dummy: HomepageDummy
    };
  }
};
</script>

<style lang="scss" scoped>
#homepage {
  text-align: center;
  overflow: hidden;
}

.content {
  display: inline-block;
  margin-top: 25px;
  width: 700px;
  height: 100%;
  text-align: center;
}

.text {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 10px;
}

.text-header {
  color: black;
  font-size: 24px;
}

.text-paragraph {
  text-align: left;
  line-height: 20px;
  color: black;
}

.roundImg {
  -webkit-box-shadow: 0 0 5px 2px black;
  -moz-box-shadow: 0 0 5px 2px black;
  box-shadow: 0 0 5px 2px black;
  height: 180px;
  width: 180px;
  margin: 10px;
  object-fit: cover;
  object-position: 0 80%;
  border-radius: 50%;
}
</style>
