<template>
  <nav id="navigation">
    <ul class="list">
      <li class="list-column" v-bind:class="{activeLink: (this.activeLink == 1)}">
        <router-link :to="{name: 'homepage'}">
          <a href @click="changeActiveLink(1)" >Welcome</a>
        </router-link>
      </li>
      <li class="list-column" v-bind:class="{activeLink: (this.activeLink == 2)}">
        <router-link :to="{name: 'japanese'}">
          <a href @click="changeActiveLink(2)">learn japanese</a>
        </router-link>
      </li>
      <li class="list-column" v-bind:class="{activeLink: (this.activeLink == 3)}">
        <router-link :to="{name: 'animation'}">
          <a href @click="changeActiveLink(3)" >Animation</a>
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  data: function() {
    return {
      activeLink: 1,
    };
  },
  methods: {
    changeActiveLink(activeLinkNumber){
      // console.log(activeLinkNumber);
      this.activeLink = activeLinkNumber;
    }
  }
};
</script>

<style lang="scss" scoped>
#navigation {
  background-color: $navigationColor;
  -webkit-box-shadow: 1px 1px 1px $navigationBorder;
  -moz-box-shadow: 1px 1px 1px $navigationBorder;
  box-shadow: 1px 1px 1px $navigationBorder;
  height: 100%;
}

.list {
  height: inherit;
  margin-left: 55px;
  display: flex;
  align-items: center;
  & li {
    margin: 0 10px;
    list-style: none;
    float: left;
    text-align: center;
    & a {
      font-family: Tahoma, Geneva, sans-serif;
      font-size: 15px;
      color: $navigationText;
      text-decoration: none;
    }
    & a:hover {
      font-weight: bold;
    }
  }
  .activeLink {
    font-weight: bold;
    border-bottom: 2px solid $navigationText;
  }
}
</style>