<template>
  <div id="app">
    <div class="grid">
      <Navigation></Navigation>
      <router-view></router-view>
      <FooterApp></FooterApp>
    </div>
  </div>
</template>

<script>
import Navigation from "./components/Navigation";
import FooterApp from "./components/Footer";

export default {
  name: "App",
  components: {
    Navigation,
    FooterApp
  }
};
</script>

<style lang="scss">
* {
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

.grid {
  background-color: $background;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 55px calc(100% - 55px) 60px;
}
</style>
