<template>
  <div id="japanese">
    <div class="box">
      <h1 class="box-title">{{ japaneseWord }}</h1>
      <input type="text" class="box-input" v-model="inputCount" />
      <button class="box-button" @click="checkAwnser">sumbit</button>
    </div>
  </div>
</template>

<script>
import JapaneseText from "@/dummy-data/Counting-text";

export default {
  data: function() {
    return {
      japaneseWord: JapaneseText.countingData[0].japaneseWord,
      count: JapaneseText.countingData[0].japaneseWord,
      inputCount: null
    };
  },
  components: {},
    mounted(){
    this.setRandomWord()
  },
  methods: {
    checkAwnser() {
      /* eslint-disable no-console */
      if (this.inputCount == this.count) {
        this.inputCount = null;
        this.setRandomWord();
      }
    },
    setRandomWord() {
      const newWordIndex = Math.floor(Math.random() * JapaneseText.countingData.length);
      this.japaneseWord = JapaneseText.countingData[newWordIndex].japaneseWord;
      this.count = JapaneseText.countingData[newWordIndex].count;
    }
  }
};
</script>

<style lang="scss" scoped>
#japanese {
  display: table-cell;
  align-self: center;
  justify-self: center;
}

.box {
  width: 500px;
  height: 300px;
  border: 1px solid black;
  background: $japaneseBox;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: auto;
  grid-template-areas:
    ". title ."
    "input input input"
    ". button button";
}

.box-title {
  display: table-cell;
  grid-area: title;
  align-self: center;
  justify-self: center;
}

.box-input {
  display: table-cell;
  grid-area: input;
  align-self: end;
  margin: 0 20px 0 20px;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  height: 50px;
  border: 1px solid black;
  border-radius: 12px;
  outline: none;
  background-color: white;
}

.box-button {
  display: table-cell;
  grid-area: button;
  justify-self: right;
  align-self: end;
  font-size: 18px;
  margin: 0 20px 20px 0;
  width: 80px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;

  &:hover {
    color: purple;
    border-color: purple;
  }
}
</style>