// background color
$background: white;
// colors for navigation
$navigationColor: white;
$navigationText: black;
$navigationBorder: #DCDCDC;
// colors footer
$footerColor: rgb(241, 138, 241);
$footerBorder: Orchid;
// colors japanese
$japaneseBox: #F0EBF4;
// colors text
$fourthColor: #F172A1;
$fifthColor: #E64398;